.tit
{
position:fixed; 
top:0;left:0;
background-color:#142781;
color:white;
height:175px;
width:100%;
font-family:verdana;
}
#tex{
height:50;
font-weight:900px;
font-size:large;
top:25px;left:50px;
}
#form{
left:700px;
font-size:20px;}
#menu
{
left:200px;
font-size:25px;
font-style:bold;
height:25;
top:125px;
color:white;
}
#bodyx{
font-size:30px;
font-family:system;
}
#form2{
font-size:20px;
left:900px;
}
#form3{
font-size:20px;
left:1100px
}
a
{
color:white;
}
li
{
color:green;
font-color:green;
}